* {
    border: none;
    border-radius: 6px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 10pt;
    min-height: 0;
    transition: 0.1s;
}

window {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1E1F1D;
    border-radius: 10px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #1E1F1D;
    transition: 0.3s;
}

#window,
#clock,
#battery,
#wireplumber,
#network,
#bluetooth,
#temperature,
#workspaces,
#cpu,
#memory,
#tray,
#taskbar,
#custom-arch,
#custom-spotify,
#backlight {
    background: #0C1709;
    color: #A0D490;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 0;
    /* for top bar
    margin-top: 5px; */
    /* for bottom bar */
    margin-bottom: 5px;
    /* border: 1px solid #181825; */
}

#cpu {
    border-radius: 20px 0px 0px 20px;
    margin-left: 2.5px;
}

#memory {
    border-radius: 0px;
}

#temperature {
    margin-left: 2.5px;
    margin-right: 2.5px;
}

#temperature.critical {
    color: #eba0ac;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
    padding-left: 7px;
}

#tray {
    margin-left: 2.5px;
    margin-right: 2.5px;
}

#window {
    margin-left: 5px;
    margin-right: 5px;
}

#clock {
    color: #A0D490;
    margin-left: 2.5px;
    margin-right: 5px;
    border-right: 0px;
    transition: 0.3s;
}

#network {
    color: #A0D490;
    border-radius: 8px 0px 0px 8px;
    margin-left: 2.5px;
}

#bluetooth {
    color: #A0D490;
    margin-left: 2.5px;
    margin-right: 2.5px;
} 

#wireplumber {
    color: #A0D490;
    border-radius: 0px;
}

#battery {
    color: #A0D490;
    border-radius: 0 8px 8px 0;
    margin-right: 2.5px;
    padding-right: 15px;
}

#custom-arch {
    color: #A0D490;
    font-size: x-large;
    padding-right: 18px;
    margin-left: 5px;
}

#taskbar {
    background: #1E1F1D;
    margin-left: 5px;
    padding-right: 0px;
    padding-left: 5px;
}

#taskbar button {
    padding: 5px;
    color: #313244;
}

#taskbar button.active {
    color: #A0D490;
}

#taskbar button.focused {
    color: #000000;
    background: #eba0ac;
}

#taskbar button.urgent {
    color: #000000;
    background: #a6e3a1;
}

#taskbar button:hover {
    background: #A0D490;
    color: #cdd6f4;
}

window#waybar.empty #window {
    background: transparent;
}

#workspaces {
    background: #0C1709;
    margin-left: 5px;
}

#workspaces button {
    color: #81ae73;
    background-color: #81ae73;
    font-size: 0.1rem;
    border-radius: 20px;
    padding: 0px 5px;
    margin: 5px 1px;
}

#workspaces button.active {
    color: #0A3E1E;
    background-color: #0A3E1E;
    min-width: 40px;
}

#workspaces button.focused {
    color: #000000;
}

#workspaces button:hover {
    background: #A0D490;
}
